.container {
  display: flex;
  padding-inline: 220px;
  flex-direction: column;
}

#btn-add {
  margin-top: 57px;
  background-color: rgba(217, 1, 156, 1);
  border-radius: 45px;
  padding: 15px 24px;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  margin-left: auto;
}

.schedule-list {
  margin-top: 45px;
}

.schedule-day {
  display: flex;
  gap: 16px;
}

.title-card {
  padding: 22px;
  background: #ffffff;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.title-card h3 {
  font-weight: 600;
  font-size: 24px;
  color: #100720;
}

.title-card p {
  margin-top: 6px;
  font-weight: 400;
  font-size: 12px;
  color: #bbbbbb;
}
